@charset "utf-8";
/* global */

html,body{
		width:100%;
		max-width: 420px;
		min-width: 320px;
		margin: 0 auto;
		font-size: 14px;
		font-weight: 400;
		font-family: 'Nanum Gothic', sans-serif;
	}

h2{
	font-size: 16px;
	color: #000;
	}

h3{
	font-size: 16px;
	color:#000;
	font-family: 'Jeju Gothic', sans-serif;
}

label{
	font-size: 13px;
	color: #000;
}

p{
	font-size: 14px;
    line-height: 17px;
    color: #000;
}

span{
	font-size: 12px;
}


b{
	color:#92191c;
	font-size: 14px;
}

strong{
	font-size: 14px;
	display: inline-block;
	font-family: 'Jeju Gothic', sans-serif;
	color: #000;
}

/*header 영역*/
			header{
				max-width: 420px;
				min-width: 320px;
				width: 100%;
				background-color: #fff;
				position:fixed;
				top: 0;
				z-index: 1;
				border-bottom:1px solid #ededed;
			}

			header h1{
				width:55%;
				margin: 0 auto;
				padding:1.5% 0;

			}

			header h1 img{
				width: 100%;
			}

			header span{
				width:6%;
				display: inline-block;
				position: absolute;
				bottom: 4%;
			}

			header span:nth-child(2){
				left: 4%;

			}

			header span:nth-child(3){
				right: 4%;
			}

			header span img{
				width: 100%;
			}

/*top 영역*/
		.top{
			width: 100%;
			max-width: 420px;
			min-width: 320px;
			margin: 0 auto;
			overflow: hidden;
			position: fixed;
			z-index:-10;
		}

		/*ham 영역*/
			.ham{
				width: 85%;
				display: inline-block;
				position: relative;
				top: 0;
				left:-85%;
			}

			.ham > img{
				width: 8%;
				margin-top: 3%;
			}

		/*ham_menu 영역*/
			.ham_menu{
				width: 85%;
				margin-right: 3%;
				float: left;
				background-color: #fff;
			}

			.ham_menu ul li{
				width: 100%;
				border-bottom:1px solid #000;
				padding:4%;
				box-sizing: border-box;
				text-align:left;
				float: left;
			}

			.ham_menu ul li:first-child{
				border-bottom:2px solid #000;
			}

			.ham_menu ul li:first-child button{
				width: 86%;
				margin-right: 4%;
				padding:3.5% 0;
			}

			.ham_menu ul li:first-child a{
				width: 10%;
				float: right;
				margin-top: 1.5%;
			}

			.ham_menu ul li:first-child img{
				width: 100%;
				float: right;
				margin-top: 2.5%;
			}

			.ham_menu ul li:nth-child(2){
				border-right: 1px solid #000;
			}

			.ham_menu ul li:nth-child(2),
			.ham_menu ul li:nth-child(3){
				width: 50%;
			}

			.ham_menu ul li:nth-child(2) a,
			.ham_menu ul li:nth-child(3) a{
				text-align: center;
				font-family: 'Jeju Gothic', sans-serif;
				font-size: 15px;
			}

			.ham_menu ul li:nth-child(4) table{
				width: 100%;
			}

			.ham_menu ul li:nth-child(4) td{
				border:1px solid #000;
				padding:4%;
				box-sizing: border-box;
			}

			.ham_menu ul li:nth-child(4) td span{
				float: right;
			}

			.ham_menu ul li:last-child{
				border-bottom:0;
			}

			.ham_menu ul li:last-child a{
				display: inline;
			}

			.ham_menu ul li:nth-child(4) h3,
			.ham_menu ul li:last-child h3{
				margin-bottom: 3%;
				color: #92191c;
			}

/*cover 영역*/
			.cover{
				max-width: 420px;
				min-width: 320px;
				width: 100%;
				position: fixed;
				background-color: rgba(0,0,0,0.5);
				opacity: 1;
				z-index: 100;
				display: none;
			}

/*footer 영역*/
		footer{
			background-color: #fff;
			color: #000;
			padding:4%;
			box-sizing: border-box;
			font-size: 16px;
			font-weight: 400;
			text-align: left;
			border-top: 2px solid #000;
		}

		footer h3{
			text-align: center;
			margin-bottom:4%;
			display: inline-block;
			width: 100%;
			color: #92191c;
		}

		footer span{
			margin-top:2%;
			display: inline-block;
			width: 100%;
			font-family: 'Nanum Gothic', sans-serif;
			color: #000;
		}

		footer span a{
			color: #000;
			display: inline;
		}

		footer ul{
			width: 100%;
			margin-bottom: 4%;
			display: inline-block;
		}

		footer ul li{
			font-size: 15px;
			color: #fff;
			padding:3.5% 3%;
			box-sizing: border-box;
			width: 100%;
			text-align: center;
			background-color: #000;
			font-family: 'Jeju Gothic', sans-serif;
		}

		footer ul li:nth-child(2){
			font-size: 12px;
			line-height: 18px;
			display: none;
			font-family: 'Nanum Gothic', sans-serif;

		}

		footer p{
			font-size: 10px;
			text-align: center;
			color: #000;
		}

		footer li:nth-child(2) table{
			width: 100%;
			margin-top: 8%;
		}

		footer li:nth-child(2) table td{
			width: 50%;
			text-align: center;
			color: #fff;
		}

		footer li:nth-child(2) table td:first-child{
			border-right: 1px solid #fff;
		}

/*마이페이지 , 회원가입 Step01~03 공통영역*/
	.sign_up td h3,
	.sign_up td label{
		font-size: 14px;
		font-family: 'Jeju Gothic', sans-serif;
	}

	.sign_up .one_btn{
		padding:0 4%;
		box-sizing: border-box;
		display: inline-block;
		width: 100%;
	}

	.sign_up .one_btn button{
		padding:3% 0;
		width: 100%;

	}

	.sign_up td p{
		float: right;
		height: 17px;
	}

/*광고영역*/
	.ad{
		margin-top: 5%;
	}
	.ad img{
		width: 100%;
	}

/*미디어 스크린*/
	/*width 값이 421 이상일경우*/
		@media screen and (max-width:421px){
			.content02 > section:first-child > h2,
			.mypage02 > h2,
			.content02 > .mypage > h2,
			.wrapper > div > .mypage > h2{
				padding:3.3% 4%;
			}
		}

	/*width 값이 420 이하일 경우*/
		@media screen and (min-width:420px){
			.content01,.content02{
				z-index: 6666;
			}

			.content02 > section:first-child > h2,
			.mypage02 > h2,
			.content02 > .mypage h2,
			.wrapper > div > .mypage > h2{
				padding:13px 17px;
				top: 9%;
			}
		}

/*경고창*/
	.mypage .alert-danger,
	.mypage .alert,
	.mypage02 .alert-warning,
	.change_password .alert-warning
	{
		padding:4%;
		box-sizing: border-box;
		background-color: #f9f9f9;
		border:0;
		color: #92191c;
		border-radius: 0;
		margin:4% 0 0;
		font-size: 12px;
		line-height: 18px;
		font-family:'Jeju Gothic', sans-serif;

	}

	.mypage02 .askpassword .error,
	.change_password label.error{
		width: 100%;
		text-align: right;
		color: #92191c;
		margin:4% 0 0;
	}

/*팝업창 영역*/
	.popup,
	.popup03{
		width: 280px;
		background-color: #fff;
		padding:10px;
		border:3px solid #000;
		box-sizing: border-box;
		z-index: 200;
		position:absolute;
		top:100px;
		left:0;
		right: 0;
		margin: 0 auto; 
		display: none;
	}

	.popup h2,
	.popup03 h2{
		text-align: center;
		color: #db2128;
		background:url(../images/notice.png) no-repeat top center;
		background-size: 95px;
		padding-top: 105px;
		margin-bottom:4%;
	}

	.popup span ,
	.popup03 span{
		display: inline-block;
		width: 100%;
		line-height: 16px;
		margin-top: 3%;
		color: #000;
	}

	.popup .popup_btn,
	.popup03 .popup_btn{
		text-align:right;
	}

	.popup button ,
	.popup03 button{
		width: 20%;
		height: 20px;
		line-height: 21px;
		padding:0;
		float: inherit;
	}

	/*.popup03 별도 css*/
		.popup03 span:nth-child(3){
				font-size: 13px;
				text-align: right;
				display: inline-block;
				width: 100%;
				margin-bottom:4%;
		}

		.popup03 input{
				width: 100%;
				margin-bottom:4%;
		}

		.popup03 p{
				font-size: 13px;
				margin-bottom:4%;
				text-align:center;
				display: none;
				color: #db2128;
		}

		.popup03 > form > span{
				text-align: left;
				margin-top: 0;
				margin-bottom:4%;
		}

/*수량 증감 조절 영역*/
	div.quantity{
		position: relative;
		height: 25px;
		display: inline-block;
		width: 30%;
		border:1px solid #ededed;
	}

	div.quantity input{
		width: 100%;
		height: 25px;
		line-height: 26px;
		background-color: #fff;
		color: #000;
		font-size:16px;
		text-align: center;
		padding: 0;
	}

	div.quantity span{
		width: 25px;
		height: 25px;
		color: #000;
		text-align: center;
		font-size: 18px;
		position: absolute;
		top:0;
		line-height: 24px;
			}

	div.quantity span:nth-child(1){
		left: 0;
		font-size: 23px;

	}

	div.quantity span:nth-child(3){
		right: 0;
		font-size: 20px;
	}

	div.quantity p{
		height: 25px;
		line-height: 25px;
		background-color: #fff;
		color: #000;
		font-size: 16px;
		text-align: center;
	}

/*가격 , 가격 취소선 영역*/
	.price_cancel{
		text-align: right;
		height: 30px;
		line-height: 30px;
	}

	.price_cancel > span{
		color: #92191c;
	}

	.price_cancel del{
		font-size: 12px;
	}

	.price_cancel b{
		font-size: 15px;
		font-family: 'Jeju Gothic', sans-serif;
	}



	.price_cancel > img{
		width: 30px;
		float: right;
		margin-bottom:1.5%;
		border:0;
	}
/*==============================================================*/














			

