@charset "utf-8";
/* page */

	.content01{
			width: 100%;
			padding:19.3% 0 4%;
	}

	.content02,
	.mypage02,
	.wrapper > div > .mypage{
		padding: 17.3% 0 5%;
	}

	.content02 > section:first-child > h2,
	.mypage02 > h2,
	.content02 > .mypage > h2,
	.wrapper > div > .mypage > h2{
		width: 100%;
		box-sizing: border-box;
		background-color: #000;
		color: #fff;
		text-align: center;
		letter-spacing: 1px;
		max-width: 420px;
		min-width: 320px;
		font-family: 'Jeju Gothic', sans-serif;
	}



/*메인페이지 영역*/
	/*.slide 영역*/
				.content01 .slide{
					padding:0;
					z-index: -100;
				}

				/*RESET AND LAYOUT*/
					.slide .bx-wrapper {position: relative;margin: 0 auto 8%; padding: 0;	*zoom: 1;}
					.slide .bx-wrapper img {max-width: 100%;display: block;}

				/*THEME*/
					.slide .bx-wrapper .bx-viewport {	/*fix other elements on the page moving (on Chrome)*/-webkit-transform: translatez(0);-moz-transform: translatez(0);-ms-transform: translatez(0);-o-transform:translatez(0);transform: translatez(0);}
					.slide .bx-wrapper .bx-viewport ul {margin:0px; padding:0px;}

					.slide .bx-wrapper .bx-pager,
					.slide .bx-wrapper .bx-controls-auto {position: absolute;	bottom: 10px;width: 100%;}

				/* LOADER */
					.slide .bx-wrapper .bx-loading {min-height: 50px;background: url(../images/bx_loader.gif) center center no-repeat #fff;height: 100%;	width: 100%;position: absolute;	top: 0;left: 0;	z-index: 2000;}

				/* PAGER */
					.slide .bx-wrapper .bx-pager {text-align: center;font-size: .85em;font-family: Arial;font-weight: bold;color: #ccc;padding-top: 20px;}

					.slide .bx-wrapper .bx-pager .bx-pager-item,
					.slide .bx-wrapper .bx-controls-auto .bx-controls-auto-item {display: inline-block;*zoom: 1;*display: inline;}

					.slide .bx-wrapper .bx-pager.bx-default-pager a {background: #ccc;text-indent: -9999px;display: block;	width: 8px;height: 8px;margin: 0 4px;	outline: 0;	-moz-border-radius: 4px;-webkit-border-radius: 4px;	border-radius: 4px;}

					.slide .bx-wrapper .bx-pager.bx-default-pager a:hover,
					.slide .bx-wrapper .bx-pager.bx-default-pager a.active {background:#92191c;}

	/*best_of_best 타이틀 영역*/
			.best_of_best h2{
				box-sizing: border-box; 
				border-bottom: 2px solid #333;
				width:100%;
				margin:0 auto;
				padding:0 4% 1.5%;
			}

			.best_of_best h2 span{
				font-size: 20px;
				color: #92191c;
				font-family: 'Jeju Gothic', sans-serif; 
			}

	/*best_of_best 의 상품 리스트 영역*/
		.best_of_best li{
			width: 100%;
			padding:4% 4% 2%;
			box-sizing: border-box;
			border-bottom:1px solid #ededed;
			position: relative;
			display: inline-block;
		}

		.best_of_best li:last-child{
			border-bottom:0;
		}

	/*상품 이미지*/	
		.best_of_best li figure a{
			margin-bottom: 2%;
		}

		.best_of_best li figure a img{
			width: 100%;
			border:1px solid #ededed;
			box-sizing: border-box;
			margin-bottom: 4%;
		}

	/*상품명 + 가격*/
			.best_of_best li figcaption p{
				display: inline-block;
				text-overflow: ellipsis;
				overflow:hidden;
				white-space: nowrap;
				margin-bottom:1%;
			}
			
			.best_of_best li .price_cancel{
				display: inline;
			}

			.best_of_best li figure > img{
				width: 30px;
				border:0;
				float: right;
			}

/* 제품 상세페이지 영역*/
	.table>tbody:last-child{
		border-bottom:1px solid #ededed;
	}

	/*슬라이드 영역*/
		.product_details .product-box{
			padding-top:2.5%;
		}
		
	/*제품 정보 영역*/
		.product_details .product-right{
			margin-top: 0;
		}

		.product_details td{
			padding:3% 4% !important;
			display: inline-block;
			width: 100%;
			box-sizing: border-box;	
		}

		/*상품명*/
			.product_details tr:first-child td{
				border-top:0;
			}

			.product_details td .product-title{
				padding-bottom:0;
				font-weight: normal;
			}

		/*가격*/
			.product_details td p{
				display: inline;
				float: left;
				height: 30px;
				line-height: 30px;
			}

		/*수량 조절*/
			.product_details td .quantity{
				float: right;
			}

		/*총 금액 + 구매하기버튼 + 장바구니 버튼*/
			.product_details tr.success{
				background-color: #f9f9f9;
			}

			.product_details tr.success div.text-right{
				padding-top:0;
				font-size: 12px;
				color: #92191c;
				margin-bottom:2%;
			}

			.product_details tr.success div.text-right #total_order_price{
				font-size: 16px;
				font-family: 'Jeju Gothic', sans-serif;
			}

			.product_details tr.success button:last-child{
				margin-right: 0;
			}

		

/*장바구니 영역*/
	.shopping_basket #flist li{
		padding-top:4%;
		box-sizing: border-box;
		border-bottom:1px solid #ededed;
	}

	.shopping_basket #flist li:first-child{
		padding:4%;
	}

	.shopping_basket #flist li.empty{
		text-align: center;
		height: 400px;
		line-height:400px;
	}

	/*총금액 영역*/
		.shopping_basket #flist .total_order{
			padding:4%;
			box-sizing: border-box;
			background-color: #ededed;
			display: inline-block;
			width: 100%;
		}

		.shopping_basket #flist .total_order .price_cancel{
			margin-bottom:4%;
		}

		.shopping_basket #flist .total_order button{
			width: 100%;
			margin-right: 0;
			padding:3% 0;
		}

		.shopping_basket #flist .total_order h3{
			font-family: 'Jeju Gothic', sans-serif;
		}

/*결제정보 영역*/
	.billing_information img{width: 100%;}

	/*상품이미지 + 상품명 영역*/
		.billing_information > table figure{
			width: 100%;
			position: relative;
		}

		.billing_information > table figure h3{
			margin-bottom:4%;
			word-break: break-all;
		}

		.billing_information > table tr:nth-child(3n-2) figure img{
			width: 50%;
			margin-right: 4% !important;
			float: left;
			border:1px solid #ededed;
			box-sizing: border-box;
		}

		.billing_information > table figcaption{
			width: 46%;
			position: absolute;
			right: 0%;
			bottom: 4%;
		}

		.billing_information > table figcaption p{
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

	/*수량 + 결제 금액 영역*/
		.billing_information > table td{
			padding:3% 4%;
			box-sizing: border-box;
			border-bottom:1px solid #ededed;
			background-color: #f9f9f9;
		}

		.billing_information > table td > p{
			display: inline;
		}

		.billing_information > table td > strong{
			float: right;
			line-height: 20px;
			color: #333;
		}

		.billing_information > table td a{
			color: #333;
		}

		table.billing_table td{
			padding:3% 4%;
			box-sizing: border-box;
			border-bottom:1px solid #ededed;
			background-color: #fff;
		}

		

		table.billing_table td > p{
			display: inline;
		}

		table.billing_table td > strong{
			float: right;
			line-height: 20px;
			color: #333;
		}

		table.billing_table td a{
			color: #333;
		}

	/*총구매 금액 영역*/
		.billing_information .well{
			width: 100%;
			display: inline-block;
			padding:4%;
			box-sizing: border-box;
			border-bottom:1px solid #ededed;
			background-color: #ededed;
		}

		.billing_information .price_cancel{
			font-weight: normal;
		}

	/*구매자 정보 영역*/
		.market-order-person > h3{
			font-weight: normal;
			padding:8% 4% 4%;
			font-family: 'Jeju Gothic', sans-serif;
			font-size: 16px;
		}

		#fpayment .market-order-person .sign_up{
			width: 100%;
		}

		#fpayment .market-order-person .sign_up td textarea{
				width: 100%;
				border-radius: 0;
				padding:5px;
		}

		#fpayment .market-order-person .sign_up tr:nth-child(5) td{
			padding-bottom:6%;
		}

		#fpayment .market-order-person .sign_up tr:nth-child(6){
			border-bottom:1px solid #f9f9f9;
		}

		#fpayment .market-order-person .sign_up tr:nth-child(6) td{
			background-color: #f9f9f9;
		}

		#fpayment .market-order-person .sign_up tr:nth-child(7) td{
			background-color: #ededed;
		}

		#fpayment .market-order-person .sign_up tr:nth-child(6) td,
		#fpayment .market-order-person .sign_up tr:nth-child(7) td{
			padding-bottom:4%;
			width: 100%;
		}

		#fpayment .market-order-person .sign_up tr:nth-child(6) td h3,
		#fpayment .market-order-person .sign_up tr:nth-child(7) td h3{
			font-size: 16px;
		}


		#fpayment .market-order-person .sign_up tr:nth-child(7) td h3{
			margin-bottom:4%;
		}

		#fpayment .market-order-person .sign_up tr:nth-child(7) td strong{
			display: inline;
			text-align: right;
			float: right;
			font-family: 'Nanum Gothic', sans-serif;
		}

		#fpayment .market-order-person .sign_up tr:nth-child(7) td strong a{
			display: inline;
		}

	/*입금 계좌 정보 영역*/
		.billing_information td figure.account_information{
			margin-bottom:4%;
		}

		.billing_information td figure.account_information img{
			margin-top: 4%;
		}

		.billing_information button{
			width: 100%;
			padding:2.5% 0;
			margin-right: 0;
			border-radius: 0;
			font-size: 14px;
		}

	/*.billing_information02 영역*/
		.billing_information02  table td{
			background-color: #fff;
		}

		.billing_information02  table tr:nth-child(5) td{
			padding:4%;
			background:#f9f9f9;
		}

		.billing_information02  table tr:nth-child(5) td h3{
			font-family:'Jeju Gothic', sans-serif;
		}

		.billing_information02  table tr:nth-child(6) td{
			padding:4%;
			background-color: #ededed;
		}

		.billing_information02  table tr:nth-child(6) td h3{
			font-family: 'Jeju Gothic', sans-serif;
			margin-bottom:4%;
		}
		.billing_information02  table tr:nth-child(6) td strong{
			font-family: 'Nanum Gothic', sans-serif;
			font-size: 13px;
			color: #000;
		}



/*order inquiry 영역*/
	/*기간 설정 영역*/
		.term{
			padding:8% 4% 4%;
			box-sizing: border-box;
			border-bottom:1px solid #ededed;
		}

		.term h3{
			margin-bottom:2%;
			font-family: 'Jeju Gothic', sans-serif;
		}

		.term table{
			width: 100%;
			margin-bottom:2%;
		}

		.term td{
			border:1px solid #ededed;
			box-sizing: border-box;
			padding:2.5% 0 2%;
			text-align: center;
			font-family: 'Jeju Gothic', sans-serif;
		}

		.term tr td.active{
			background-color:#f6ebec; 
		}

	/*상품영역*/
		.order_inquiry li{
			padding:4%;
			box-sizing: border-box;
			border-bottom:1px solid #ededed;
		}

		.order_inquiry li h3{
			margin-bottom:4%;
			word-break: break-all;
		}

		.order_inquiry li figure{
			display: inline-block;
			position: relative;
			margin-bottom:4%;
		}

		.order_inquiry li figure img{
			width: 50%;
			margin-right: 4%;
			float: left;
			border:1px solid #ededed;
			box-sizing: border-box;
		}

		.order_inquiry li figcaption{
			width: 46%;
			position: absolute;
			right: 0;
			bottom: 4%;
		}

		.order_inquiry li figcaption p{
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		.order_inquiry li .payment strong{
			color: #92191c;
		}

		.order_inquiry li .payment span{
			float: right;
			height: 15px;
			line-height: 15px;
		}

	/*주문 내역 없는 경우*/
		.order_inquiry .nopost{
			font-size: 13px;
			line-height: 17px;
			word-break: break-all;
		}

/*mypage , 정보수정*/
	.mypage table tr:first-child td{
		padding-top: 6%;
	} 

	.mypage table td{
		padding:3% 4%;
		border-bottom:1px solid #ededed;
	}

	.mypage table tr:last-child td{
		border-bottom:0;
	}

	.mypage table td label{
		display: inline;
		height: 28px;
		line-height: 28px;
	}

	.mypage table tr h3{
		margin-bottom:2%;
		display: inline-block;
	}

	.mypage table tr:first-child h3{
		height: 16px;
		line-height: 16px;
		margin-bottom: 0;
	}

	.mypage table td strong{
		float: right;
		height: 16px;
		line-height: 16px; 
	}

	.mypage table td textarea{
		height: 50px;
	}

	.mypage table td button{
		width: 50%;
		float: right;
	}

	.mypage .form-horizontal table{
		width: 100%;
	}

/*로그인 영역*/
	.login{
			display: inline-block;
			width: 100%;
		}

	/*경고창*/
		.login .alert-warning,
		.login .alert-info{
			padding:4%;
			box-sizing: border-box;
			background-color: #f9f9f9;
			border:0;
			color: #000;
			border-radius: 0;
			margin:4% 0 0;
		}

	/*아이디 , 비밀번호 , 로그인 버튼 영역*/
		.login table{
			width: 100%;
		}

		.login table tr:first-child td{
			padding-top:8%;
		}

		.login table td{
			padding:4%;
		}

		.login table tr:last-child td{
			padding-bottom:4%;
		}

		.login td label{
			margin-bottom:2%;
			display: inline-block;
		}

		.login table tr:last-child td label{
			margin-bottom: 0;
		}

		.login td input[type="text"],
		.login td input[type="password"]{
			margin-bottom:2%;
		}

		.login button{
			width: 100%;
			background-color: #000;
			padding:2.5% 0 2%;
			color: #fff;
			border-radius: 0;
			font-size: 14px;
		}

	/*아이디 찾기 , 비밀번호 찾기 , 회원 가입 영역*/
		.login li{
			float: left;
			width: 26%;
			text-align: center;
		}

		.login li:nth-child(2){
			width: 48%;
			border-right: 1px solid #9d9d9d;
			border-left: 1px solid #9d9d9d;
			box-sizing: border-box;
		}

/*회원가입 영역*/
	.table-box{
		margin:0;
	}
	/*step 영역*/
		.sign_up ol{
			width: 80%;
			padding:4% 10%;
			display: inline-block;
		}

		.sign_up ol li{
			width: 22%;
			margin-right:17%;
			float: left;
		}

		.sign_up ol li:last-child{
			margin-right:0;	
		}

		.sign_up ol li img{
			width: 100%;
			border:2px solid #000;
			box-sizing: border-box;
			margin-bottom:20%;
		}

		.sign_up ol li figcaption h3{
			text-align: center;
			font-size: 13px;
			font-family: 'Jeju Gothic', sans-serif;
		}

	/*step01 영역*/
		/*약관체크 박스 영역*/
			.sign_up01 form{
				display: inline-block;
			}
			.sign_up01 .terms{
				padding:4%;
				box-sizing: border-box;
			}

			.sign_up01 .terms div{
				margin-bottom:4%;
			}

			.sign_up01 .terms div label{
				font-family: 'Jeju Gothic', sans-serif;
			}
		/*약관 내용 영역*/
			.sign_up01 .terms p{
				padding:4%;
				border:1px solid #ededed;
				box-sizing: border-box;
				font-size: 13px;
				word-break: break-all;
			}

			.sign_up01 .terms p.document {
				
				height: 250px;
				overflow-y: scroll;
				overflow-x: hidden;
				line-height: 15px
			}
		/*다음 , 취소 버튼 영역*/
			.sign_up01 .sign_up_btn{
				padding:0 4%;
				box-sizing: border-box;
			}

			.sign_up01 .sign_up_btn button{
				width: 49%;
				margin-right: 2%;
				float: left;
			}

			.sign_up01 .sign_up_btn button:last-child{
				margin-right: 0;
			}

	/*step02 영역*/
		.sign_up02 td{
			padding:4% 4% 0;
			box-sizing: border-box;
		}

		.sign_up02 td label{
			margin-bottom:2%;
			display: inline-block;
			padding:0;
		}

		.sign_up02 td label.error{
			color: #92191c;
			width: 100%;
			text-align: right;
			margin:4% 0 2%;
		}

		.sign_up02 td label.available{
			color: blue;
			width: 100%;
			text-align: right;
			margin:4% 0 2%;
		}

		.sign_up02 td p{
			font-size: 13px;
			color: #000;
			margin-top: 0%;
		}

		.sign_up02 .sign_up_btn{
			padding:4% 4% 0;
			display: inline-block;
			width: 100%;
			box-sizing: border-box;
		}

		.sign_up02 .sign_up_btn button{
			width: 49%;
			margin-right: 2%;
			float: left;
		}

		.sign_up02 .sign_up_btn button:last-child{
			margin-right: 0;
		}

		.sign_up02 .help-block{
			line-height: 16px;
			color: #333;
		}

	/*step03 영역*/
		.sign_up03 table{
			width: 100%;
		}

		.sign_up03 td{
			padding:4% 9%;
			border:1px solid #ededed;
			box-sizing: border-box;
		}

		.sign_up03 td h3{
			display: inline;
		}

		.sign_up03 .sign_up_btn{
			padding:4% 4% 0;
			display: inline-block;
			width: 100%;
			box-sizing: border-box;
		}

/*비밀번호 변경 영역*/
	.change_password table{
		width: 100%;
	}

	.change_password tr:first-child td{
		padding-top: 6%;
	}

	.change_password tr:last-child td{
		padding-bottom:4%;
	}

	.change_password td{
		padding:4% 4% 0;
		box-sizing: border-box;
	}

	.change_password td label{
		margin-bottom:2%;
		display: inline-block;
	}

	.change_password .sign_up_btn{
		padding:0 4%;
		box-sizing: border-box;
		display: inline-block;
		width: 100%;
	}

	.change_password .sign_up_btn button:last-child{
		margin-right: 0;
	}

	/*경고문 영역*/
		{
			font-size: 13px;
			display: inline-block;
			color: #db2128;
			width: 100%;
			text-align: right;
			margin:4% 0 0;
		}

/*mypage02 (회원탈퇴)영역*/
	.mypage02 .askpassword li:first-child{
		padding-top:6%;
	}


	.mypage02 .askpassword li{
		margin-bottom:0;
		padding:3% 4%;
		box-sizing: border-box;
		display: inline-block;
		width: 100%;
		border-bottom:1px solid #ededed;
	}

	.mypage02 .askpassword li h3{
		display: inline;
		float: left;
		font-size: 14px;
	}

	.mypage02 .askpassword li:nth-child(2) h3{
		margin-bottom:2%;
	}

	.mypage02 .askpassword li:last-child button{
		width: 100%;
		padding:2.5% 0 2%;
		background-color: #000;
		color: #fff;
		border-radius: 0;
		font-size: 14px;
		margin-bottom: 4%;
	}

	.mypage02 .askpassword li:last-child div p{
		font-size: 12px;
		color: #92191c;
		font-family:'Jeju Gothic', sans-serif; 
	}

	.mypage02 .askpassword li .form-text{
		padding:0;
		display: inline;
		float: right;
	}

/*상품 체크박스 + 휴지통 */
	.shopping_basket #flist li label{
		font-family: 'Jeju Gothic', sans-serif;
		color: #000;
		font-size: 15px;
	}

	.shopping_basket #flist li:first-child input[type="checkbox"]{
		margin-left: 0;
	}

	.shopping_basket #flist li input[type="checkbox"]{
		margin-left: 4%;
	}
	.shopping_basket #flist li > img{
		width: 6%;
		float: right;
		margin-right: 4%;
	}

/*상품명 + 상품이미지 + 상품가격*/
	.shopping_basket #flist li figure h3{
		margin-bottom:4%;
		word-break: break-all;
	}

	.shopping_basket #flist li figure{
		position: relative;
		padding: 4%;
		border-bottom:1px solid #ededed;
	}

	.shopping_basket #flist li figure img{
		width: 50%;
		margin-right: 4% !important;
		float: left;
		border:1px solid #ededed;
		box-sizing: border-box;
	}

	.shopping_basket #flist li figcaption{
		width: 42%;
		position: absolute;
		right: 4%;
		bottom: 12%;
	}

	.shopping_basket #flist li figcaption p{
		margin-bottom: 5%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	.shopping_basket #flist li figcaption .price_cancel{
		float: right;
	}

	.shopping_basket #flist li > div{
		padding:3% 4%;
		background-color: #f9f9f9;
	}

	.shopping_basket #flist li > div p{
		height: 30px;
		line-height: 30px;
		display: inline;
	}

	.shopping_basket #flist li > div .quantity{
		float: right;
	}

/*공지사항  , FAQ 영역*/
	.notice ul{
		width: 92%;
		display: inline-block;
		margin:4%;
		border:1px solid #ededed;
		
	}
	.notice li{
		width: 100%;
		padding:4% 4% 3%;
		box-sizing: border-box;
		display: inline-block;
	}

	.notice li:nth-child(2n){
		background-color: #f6ebec;
	}

	.notice li:last-child{
		border-bottom:0;
	}


	/*화살표 영역*/
		.notice li > span{
			line-height: 14px;
			float: right;
			font-size: 17px;
			box-sizing: border-box;
		}

	/*글제목 영역*/
		.notice h3{
			width: 90%;
			display: inline-block;
			text-overflow: ellipsis;
			font-size: 14px;
			overflow:hidden;
			white-space: nowrap;
			padding-top: 2px;
		}

	/*작성글 내용영역*/
		.notice p.table-answer{
			width: 100%;
			margin-top: 9%;
			padding:0 2%;
			box-sizing: border-box;
		}

/*회원탈퇴 영역*/
	.wrapper > div > .mypage > div{
		position: relative;
		height: 400px;
		border-bottom:1px solid #ededed;
	}
	.wrapper > div > .mypage > div > p{
		position: absolute;
		width: 217px;
		height: 52px;
		margin:auto;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		text-align: center;
	}

	.wrapper > div > .mypage > div > p > span{
		font-size: 14px;
		font-family: 'Jeju Gothic', sans-serif;
		color: #92191c;
	}






